* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.container{
    background-color: gray;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1 {
    color: white;
    font-size: 120px;
    font-weight: 400;
    font-family: sans-serif;
}
.container p {
    color: paleturquoise;
    font-size: 60px;
    font-weight: 110;
    font-family: italic;
    text-align: end;
}