* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    color: white;
}
.container{
    background-color: gray;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1 {
    font-size: 110px;
    font-weight: 400;
    font-family: sans-serif;
}
.container p {
    font-size: 46px;
    font-weight: 80;
    font-family: italic;
    text-align: end;
}
.midia-social {
    display: flex;
    justify-content: center;
    gap: 32px;
}
.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
    text-decoration: none;
}
.social-icon i {
    display: block;
    font-size: 64px;
    color: white;
    transition: .5s;
}
.social-icon i:hover {
    color: #0a66c2;
}